<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Projects</title>
    <meta description='Projects Page for The Real Portfolio App'>
    <meta charset='utf-8'/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>
<body>
    <div id='wrapper'>
        <p>My Projects:</p>
        <ul>
            <li>Danger Zones</li>
            <li>Fat Unicorn: The Poopening</li>
            <li>My Cohort</li>
            <li>Certify Me</li>
            <li>Woof Woof Go!</li>
        </ul>
    </div>
</body>
</html>